.forgotpass_link {
  color: #000;
  text-decoration: none;
}
.forgotpass_link:hover {
  color: #959595;
}
.box-shadow {
  box-shadow: -20px 20px 20px 4px rgba(0, 0, 0, 0.1);
}

.custom-bg {
  background-color: #efefef;
}
.sidebar-menu {
  background-color: #efefef;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow-y: auto;
}
.custom-display {
  display: contents;
  justify-content: center;
  align-items: center;
}
.card {
  width: 29%;
  margin: auto;
  padding: 0.5rem;
  margin: 1.4rem;
}
